.App{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(6, 6, 24);
    color: white;
    font-family: Lato, sans-serif;
}
h1{
    color: #1b1b32;
    font-family: Roboto, sans-serif;
    text-align: center;
    margin: 20px 0;
}

.tareas-lista-principal{
    width: 600px;
    min-height: 500px;
    background-color: #d0d0d5;
    padding: 25px;
    margin: 10px;
    justify-content: center;
    border-radius: 26px;
}